header {
    margin-top: 0px;
    background-color: green;
}

#dd-title {
    margin-top: 0px;
    line-height: 150%;
    font-family: 'Poppins', serif;
    text-align: center;
    color: white;
    margin-top: 15px;
}
