/* nav logo and title style */

.navbar-brand {
    font-weight: 800;
    font-size: x-large;
}

@media (max-width: 767px) {
    .navbar-brand {
        font-size: large;
    }
}

/* style for the navigation */

nav {
    box-shadow: 0 2px 4px 0 gray;
    margin-bottom: 0;
}

.nav-link {
    font-weight: 800;
}

@media (max-width: 767px) {
    .nav-link {
        font-size: large;
    }
}

.navbar-toggler {
    width: 30px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #d3531a;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* color of three lines */

.navbar-toggler.collapsed .toggler-icon {
    background: linear-gradient(90deg, rgba(0,128,0,1) 45%, rgba(2555,255,255,1) 100%);
}

.navbar-brand {
    color: green;
}