.search-container {
    font-size: medium;
    outline: none;
    text-align: center;
    margin-top: 30px;
}

.search-container input {
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 0 2px 4px 0 gray;
}

.search-container button {
    background-color: green;
    border: 1px solid green;
    box-shadow: 0 2px 4px 0 gray;
    color: white;
}

.list-group {
    text-align: center;
}

.list-group-item {
    margin: 50px;
    box-shadow: 0 2px 4px 0 gray;
}


.card {
    margin-top: 50px;
    box-shadow: 0 2px 4px 0 gray;
}

.card-title {
    text-align: center;
}

.card-img-top {
    background-color: green;
}

#recipe-link-btn {
    text-align: center;
}