.card {
    margin: 20px;
    box-shadow: 0 2px 4px 0 gray;
}

.card-title {
    text-align: center;
    font-weight: 900;
}

.accordion-button {
    color: green !important;
}

.accordion-button {
font-weight: 900;
}