#title {
    margin-top: 20px;
    text-align: center;
    color: green;
    font-weight: 900;
}

#title-two {
    text-align: center;
    color: black;
    font-weight: 600;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    #title-two {
        margin-top: 10px;
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
}