body {
    margin: 0;
    background-image: url(./assets/background.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

@media (max-width: 767px) {
    body {
        background-size: 250%;
    }
}

main {
    font-family: 'Poppins', sans-serif;
}

.banner.container-fluid {
    padding: 0;
}

nav {
    background-color: white;
}

/*please work*/
